:root {
    --text: #444;
    --bg: #fff;
    --border: #e5e4e7;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #eee;
        --bg: #16171d;
        --border: #2e303a;
    }
}

body {
    margin: 0;
    color: var(--text);
    background: var(--bg);
}
